[Unit]
Description=sklad kontur API
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/warehouse-platform/api
EnvironmentFile=/etc/warehouse-platform/warehouse-platform-api.env
ExecStart=/usr/bin/node /opt/warehouse-platform/api/src/index.js
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
